body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Set minimum height to the full viewport height */
}

.div1 {
    text-align: center;
    border: 5px solid #3A4D39;
    padding: 20px;
    margin: 0; /* Remove margin */
}

h1 {
    border: 5px solid #3A4D39;
    background-color: #739072;
    margin: 0; /* Remove margin */
}

html {
    background-color: #ECE3CE;
    height: 100%; /* Set height to 100% */
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

li {
    margin-right: 40px;
}

.list {
    border: 5px solid #3A4D39;
    margin-top: 10px;
    background-color: #739072;
    margin: 0; /* Remove margin */
}

a {
    text-decoration: none;
    color: black;
}

.work {
    text-align: center;
    border: 5px solid #3A4D39;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
